* {
    box-sizing: border-box;
    font-family: Poppins;
    
}  
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
  

body {
    background-image: url(../../assets/Shadow-Fall-Background\ -\ Copia.svg) ;
    height: 100vh;
    margin: auto;
    
}
body,
input,
button,
textarea {
    /* font: 500 1.6rem Poppins; */
    font-weight: 100;
    font-size: 1.6rem;
    color: var(--color-text-base);
}

.header {    
    background:#FF7500;
    /* background: url(../../assets/Square-Versatiles.svg); */
    padding: 30px;
    text-align: center;
    font-size: 32px;
    color: white;
    font-weight: 900;
}

ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0;
    /* margin-left: 34%; */
    /* align-items: center;
    justify-content: center; */
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Style the top navigation bar */
nav {
    overflow: hidden;
    background-color: #002a50;
    
  }
  
  /* Style the topnav links */
nav a {

    /* float: left; */
    display: inline-block;
    
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    padding: 1% 2.3%;
    text-decoration: none;
    transition: background 0.3s ;
  }
  
  /* Change color on hover */
nav a:hover {
    background-color: white;
    color: #FF7500;
}
form {
    float: left;
    
    margin-top: 5.4%;

    width: 50%;
    height: 53.3%;
    /* background:  transparent; */
    background: #002a50;
    overflow: hidden;
    margin-left: 6%;
    /* box-shadow: 5px 5px 10px #030303; */
    border-radius: 2rem;

    /* color: white; */
    color: white;
    
}



/* input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
} */

.col-3 { 
    float: left; 
    width: 40%;
    margin: 15px 5%; 
    position: relative;
}

label{
    font-size: 22px;
}

input{

    font-family: Poppins;
    font-size: 16px;
    color: #333;
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;

    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 6px 0;
    outline: none;
    padding: 7px 10px;
} 



#inputCPF {
    width: 100%;
    display: block;
    margin-left: 1%;
}

.early {
    display: flex;
}

#inputCEP {
    width: 80%;
    display: block;
    margin-left: 18.3%;
}
#lb-cpf {
    margin-left: 0%;
}
#lb-cep {
    margin-left: 18.3%;
}

.late {
    display: flex;
}

#inputEstado {
    display: block;
    width: 110%;
    border: none;
    outline: none;

    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 4px 5px;

    margin-top:10%;
}

.btn-primary {
    display: block;
    justify-content: center; /* justify content n existe sem o display ":flex"*/
    margin-top: 12%;
    margin-left: 25%;
    width: 142%;
    height: 110%;


    text-decoration: none;  

    border-radius: 0.8rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ;

    /* color: #2288e7; */
    color: black;

    border: none;
    outline: none;
    
}

form:hover{
    /*  */
}

.btn-primary:hover{
    background:  #FF7500 ; /* #2288e7*/
    color: #FFFFFF;
    border: 2px solid transparent;
}

div {
    display: block;
}


img {
    margin-top: 1%;
    width: 35%;
    float: right;
    margin-right: 6%;

}

@media screen and (max-width: 1295px) {
        /* header{height: 10%;}
        nav a{padding: 1;} */
        img{
            width: 30%;
            margin: 7% 13%;
            margin-top: 12%;
            margin-left: 2%;
        }
        form{
            width: 50%;
            margin-left: 5%;
            margin-top: 10%;
        }
        .btn-primary{
            width: 100%;
        }
        .col-3{
        width: 40%}
}
@media screen and (max-height: 758px) {
        form{
            margin-top: 2%;
        }
}